name: Publish to CapRover
on:
  push:
    tags:
      - '*'
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - run: npm i
      - run: npm run build --if-present
      - run: npm run test --if-present

      # Future plans in the works to create tarball from within the caprover/deploy-from-github action.
      - uses: a7ul/tar-action@v1.1.0
        with:
          command: c
          cwd: "./"
          files: |
            captain-definition
            node_modules/
            package.json
            Dockerfile
            .silex.js
            client-config.js
            .nvmrc
            client-plugins
            server-plugins
            onboarding.json
          outPath: deploy.tar

      - name: Deploy to CapRover
        uses: caprover/deploy-from-github@v1.0.1
        with:
          server: '${{ secrets.CAPROVER_SERVER }}'
          app: ${{ github.ref == 'refs/heads/main' && secrets.MAIN_APP_NAME || secrets.APP_NAME }}
          token: '${{ secrets.APP_TOKEN }}'
